:root {
    --teal: hsl(192, 37%, 48%);
    --purple: hsl(268, 34%, 53%);
    --black: hsl(240, 21%, 20%);
    --grey: hsl(240, 10%, 57%);
    --cyan: hsl(192, 90%, 77%);
    --pink: hsl(268, 100%, 86%);
    --white: hsl(0, 0%, 98%);

    --blue-hover: hsl(192, 54%, 64%);
    --purple-hover: hsl(268, 55%, 71%);

    --text-base: 1rem;
    --text-lg: 1.125rem;
    --text-btn: 1rem;
    --text-xl: 2rem;
    --text-2xl: 2.5rem;

    --line-base: 1.625rem;
    --line-xl: 2.25rem;
    --line-2xl: 2.75rem;

    --side-spacing: 24px;
    --img-overflow: 40px;

    @media (width >= 40em) {
        --text-xl: 2.5rem;
        --text-2xl: 3rem;

        --line-base: 1.625rem;
        --line-xl: 2.75rem;
        --line-2xl: 3rem;

        --side-spacing: 40px;
        --img-overflow: 46px;
    }

    @media (width >= 64em) {
        --text-base: 1.125rem;
        --text-xl: 2.5rem;
        --text-2xl: 4rem;

        --line-2xl: 4rem;

        --side-spacing: 165px;
        --img-overflow: 64px;
    }
}

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Red Hat Display", sans-serif;
}

body {
    background: var(--white);
    text-align: center;

    .container {
        overflow: hidden;
    }

    img {
        width: 100%;
    }

    h1 {
        font-size: var(--text-2xl);
        line-height: var(--line-2xl);
        font-weight: 900;
    }

    h2 {
        font-size: var(--text-xl);
        font-weight: 900;
        line-height: var(--line-xl);
    }

    h3 {
        font-size: var(--text-base);
        font-weight: 900;
        line-height: var(--line-base);
        text-transform: uppercase;
        color: var(--teal);
        letter-spacing: 0.25rem;
    }

    h4 {
        font-size: var(--text-base);
        line-height: var(--line-base);
        font-weight: 900;
        color: var(--grey);
        display: grid;
        place-items: center;
        position: relative;
        border: 1px solid hsla(240, 10%, 57%, 0.25);
        height: 56px;
        width: 56px;
        border-radius: 50%;
        background: var(--white);

        &::before {
            content: '';
            position: absolute;
            top: -84px;
            left: calc(50% - 0.5px);
            width: 1px;
            height: 84px;
            background: hsla(240, 10%, 57%, 0.25);
        }
    }

    p {
        font-size: var(--text-base);
        line-height: var(--line-base);
        font-weight: 500;
        color: var(--grey);
    }

    .btn {
        font-size: var(--text-btn);
        font-weight: 900;
        text-decoration: none;
        color: var(--white);
        background: var(--purple);
        border-radius: 29px;
        padding: 16px 29px;
        transition: background ease 0.5s;
        text-wrap: nowrap;

        &:hover,
        &:focus {
            background: var(--purple-hover);
        }

        &.dload {
            padding: 16px 40px;
        }

        &.hero-dload {
            background: var(--teal);

            &:hover,
            &:focus {
                background: var(--blue-hover);
            }
        }

        span {
            color: hsl(268, 100%, 86%);
        }

        &.hero-dload span {
            color: var(--cyan);
        }
    }
}

main,
footer {
    padding: 0 var(--side-spacing);
}

header {
    display: grid;
    place-items: center;
    margin-block: 48px 54px;

    .logo {
        max-width: 119px;
    }

    @media (width >= 64em) {
        margin-block: 80px 61px;
    }
}

.hero {
    .img-left {
        display: block;
        width: calc(100vw + var(--img-overflow));
        left: calc(((var(--img-overflow) / 2) * -1) - var(--side-spacing));
        position: relative;
    }

    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin-block: 48px 148px;

        .btn-container {
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin-top: 16px;
        }
    }

    .img-right {
        display: none;
    }

    @media (width >= 40em) {
        > div {
            max-width: 457px;
            margin: 72px auto 164px;
            gap: 24px;
            
            h1 {
                margin: 0 59px;
            }

            .btn-container {
                flex-direction: row;
            }
        }
    }

    @media (width >= 64em) {
        display: flex;
        justify-content: center;
        position: relative;

        .img-left {
            content: url(../assets/desktop/image-hero-left.png);
            position: absolute;
            width: 33%;
            left: calc(10px + ((var(--img-overflow) / 2) * -1) - var(--side-spacing));
        }

        .img-right {
            display: block;
            content: url(../assets/desktop/image-hero-right.png);
            position: absolute;
            width: 33%;
            top: 47px;
            right: calc(10px + ((var(--img-overflow) / 2) * -1) - var(--side-spacing));
        }

        > div {
            width: 100%;
            max-width: 540px;
            margin-block: 47px 194px;
            gap: 32px;
        }

    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 174px;

    .gallery {
        margin-block: 64px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;

        img {
            border-radius: 8px;
        }
    }

    .content-wrapper {
        max-width: 573px;

        h2 {
            margin-block: 24px 32px;
        }
    }
    

    @media (width >= 40em) {
        .gallery {
            margin-block: 67px 48px;
            grid-template-columns: repeat(4, 1fr);
            gap: 11px;
        }

        .content-wrapper {
            h2 {
                margin: 16px 64px 32px;
            }
        }
    }

    @media (width >= 64em) {
        margin-bottom: 184px;

        .gallery {
            margin-block: 62px 80px;
            gap: 30px;
        }

        .content-wrapper {
            max-width: 540px;

            h2 {
                margin: 16px 48px 32px;
            }
        }
    }
}

footer {
    background: center / cover no-repeat url(../assets/mobile/image-footer.jpg);
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background: hsla(192, 37%, 48%, 0.9);
        z-index: -1;
    }

    h4 {
        margin-top: -28px;
    }

    @media (width >= 40em) {
        background: center / cover no-repeat url(../assets/tablet/image-footer.jpg);
    }

    @media (width >= 64em) {
        background: center / cover no-repeat url(../assets/desktop/image-footer.jpg);
    }

}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 64px 72px;
    color: var(--white);
    max-width: 573px;

    p {
        margin-block: 24px 32px;
        font-size: var(--text-lg);
        color: var(--white);
    }

    @media (width >= 40em) {
        h2 {
            margin: 0 58px;
        }

        p {
            margin-block: 32px 40px;
        }
    }

    @media (width >= 64em) {
        flex-direction: row;
        max-width: 100%;
        width: 100%;
        margin-block: 88px 114px;
        justify-content: space-between;

        h2,
        p {
            text-align: left;
            margin: 0;
            max-width: 350px;
        }
    }
}